.blossom_pin_pro_format_field {
  display: none;
}

#titlewrap {
    display: block;
}

#post-body-content #postimagediv .inside p {
  text-align: center;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


.blossom_pin_pro_format_field {
  margin-bottom: 25px;
}
.blossom_pin_pro_format_field label {
  color: #666;
    display: block;
    margin-bottom: 5px;
    padding-left: 3px;
    text-transform: capitalize;
    font-weight: 700;
}
.blossom_pin_pro_format_field input[type="text"],
.blossom_pin_pro_format_field textarea,
.blossom_pin_pro_format_field select {
  border: 1px #dfdfdf solid;
}
.blossom_pin_pro_format_field input[type="text"],
.blossom_pin_pro_format_field textarea {
  font-size: 18px;
  width: 100%;
}
.blossom_pin_pro_format_field textarea {
  height: 161px;
  padding-left: 8px;
}
.blossom_pin_pro_format_field input[type="text"] {
  padding-left: 8px;
}
.blossom_pin_pro_format_field .description {
  color: #999;
  display: block;
  font-size: 11px;
  line-height: 1.6;
  padding-left: 10px;
}

/* Video Field */
#bpp-format-video-embed {
  height: 161px;
}

/* Featured Image */
#post-body-content #select-featured-image {
  text-align: center;
}
#post-body-content #select-featured-image img {
  display: block;
  margin: 0 auto 4px;
}
#post-body-content #select-featured-image a {
  float: none;
}
#post-body-content #select-featured-image a.button-secondary {
  margin-right: 10px;
}

/*===========================================
 Featured Image Gallery style
===========================================*/
#img-gallery-metabox-list li {
    position: relative;
    float: left;
    width: 150px;
    text-align: center;
    margin: 10px 10px 10px 0;
    cursor: move;
}
#custom-img-metabox .change-image, #custom-img-metabox .remove-image{
display: none;
}

/*===========================================
 CUSTOM FEATURED IMAGE
===========================================*/
span#custom-img-metabox:before, 
span#custom-img-metabox:after {
    content: "";
    display: table;
}
span#custom-img-metabox:after {
    clear: both;
}
span#custom-img-metabox {
    display: block;
}
#custom-img-metabox img.image-preview {
    max-width: 200px;
    float: left;
    margin-right: 10px;
}
span#custom-img-metabox small {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
}